:root {
    background-color: antiquewhite;
    --spacing: 1rem;
    font-family: 'Helvetica', sans-serif;
    font-size: 125%;
}

@media (width > 600px) {
    :root {
        font-size: 150%;
    }
}

@media print {
    :root{
        --color-bg: blue;
    }
}

body {
    padding: var (--spacing);
}

h1 {
    font-size: 2rem;
}
