:root {
    background-color: #F5F5F5;
    --spacing: 1rem;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 125%;
}

@media (width > 600px) {
    :root {
        font-size: 150%;
    }
}

@media print {
    :root{
        --color-bg: blue;
    }
}

body {
    padding: var (--spacing);
}

header{
    background-color: black;
    padding-bottom: 2rem;
    padding-top: 5rem;
}

h1 {
    font-size: 7rem;
    color:white;
    padding-left: 2rem;
    padding-bottom:7rem;
}

.metadata {
    font-size: 1rem;
    color:rgb(255, 255, 255);
    padding-left: 2.5rem;
    display: flex;
    justify-content:flex-start;
    gap: 0.5rem;
}

article {
    margin-block:3rem;
}

p { 
    max-width: 65ch;
    padding-inline: 5rem;
    margin-left: 4rem;
    padding-block: 1.5rem;
    line-height: 1.5rem;
    margin: 0 auto;  

   }


h2 {
    padding-left: 5rem;
    font-weight: 700;
    font-size: 3.5rem;
}

.black {
    background: linear-gradient(to right, #000000, #BCBCBC);
    color: black;
    max-width: 14ch;
    padding-left: 21rem;

}

.white {
    background: linear-gradient(to right, #FFFFFF, #A8A8A8);
    color: white;
    /* margin-inline-end: initial;
    margin-inline-start: 1rem; */
    max-width: 14ch;
    margin-left: 32rem;
    /* padding-inline-end: -10rem; */
    /* max-width: 40ch; */
    /* padding-left: 21rem; */
    /* margin-left: 31rem; */

}



.paragraph-left {
    text-align: left;
    margin-left: -2rem;
    margin-block: 2rem;
    line-height: 1.5rem;

}


.paragraph-right {
    text-align: left;
    margin-right: -2.5rem;
    margin-block: 2rem;
    line-height: 1.5rem;
}